<div class="container">
  <h3>About firefli</h3>
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="featurette-content">
        <h3 class="featurette-header">Philosophy: <span class="featurette-subheader">Fulfill Potential</span></h3>
        <p class="lead">Every employee in your organization is unique; in terms of talents, interests, weaknesses, and goals.  <strong>firefli</strong> was founded with the goal of helping you tap into each of your employees’ true potential - finding their individual spark.</p>
        <p class="lead">If you’ve ever seen a team that’s truly “clicking” in action, it’s an amazing sight.  Crises become manageable and even prevented.  Team productivity is high, and you can feel the team's energy in the air.</p>
      </div>
      <div class="featurette-image-box">
        <%= image_tag("firefly_field_721_481.jpg", :class => "featurette-image img-responsive", data: {src: "holder.js/500x100%/auto"}, :alt => "Generic placeholder image") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="featurette-content featurette-content-right">
        <h3 class="featurette-header">Team: <span class="featurette-subheader">One-man Band</span> <small>(Chris Durheim)</small></h3>
        <p class="lead">I've spent most of my career working in the medical device field working with life-critical products.  I started as a front-line engineer and learned first-hand what kinds of management lead to team success and what kinds do not.  After 5 years with my team, I was promoted to manager - something I thought I would waltz into but quickly learned that what got me into management wouldn’t make me a great manager.  Through lots of hard work and an incredibly supportive team, I am proud of the manager I’ve become and the lessons I’ve learned about motivating, aligning, and growing people in an organization.</p>
      </div>
      <div class="featurette-image-box featurette-image-left">
        <%= image_tag("chris_beach_604_453.jpg", :class => "featurette-image img-responsive", data: {src: "holder.js/500x100%/auto"}, :alt => "Generic placeholder image") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="featurette-content">
        <h3 class="featurette-header">Vision: <span class="featurette-subheader">Do Good</span></h3>
        <p class="lead"><strong>firefli</strong> is the culmination of a lifelong desire to combine my passion for technology (in particular, software development) and business.  <strong>firefli</strong> is the channel through which I strive to help all leaders, managers, and business owners to find and amplify the talents of their team members.</p>
      </div>
      <div class="featurette-image-box">
        <%= image_tag("minor_myers_quote_500_530.jpg", :class => "featurette-image img-responsive", data: {src: "holder.js/500x100%/auto"}, :alt => "Generic placeholder image") %>
      </div>
    </div>
      <!-- /END THE FEATURETTES -->
