<div class="container">
  <h3>Chris Durheim <small>Cyberdyne Systems</small></h3>
  <div class="row">
    <div class="goal-set">
      <h3><i class="fi-results"></i> My Goals</h3>
      <div class="row">
        <div class="goal-box-buffer">
          <div class="goal-box">
            <div class="goal-box-header">
              <h5><a href="#">Rediculous Project</a><span class="right"><a href="#" title="Archive Goal"><i class="fi-x"></i></a></h5>
            </div>
            <div class="goal-box-content">
              <p>Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.  Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.  Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.  Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.</p>
              <p class="left"><a href="#"><i class="fi-pencil"></i> <small>Update Goal</small></a></p>
              <h5 class="right"><small>Last updated: Jan 8, 2014</small></h5>
            </div>
            <div class="goal-box-footer">
              <div class="row">
                <div class="goal-box-footer-left">
                  <h6>Last Review</h6>
                  <p><a href="#">Aug 21, 2013</a></p>
                </div>
                <div class="goal-box-footer-right">
                  <h6>Next Review</h6>
                  <p><a href="#">Apr 25, 2014</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="goal-box-buffer">
          <div class="goal-box">
            <div class="goal-box-header">
              <h5><a href="#">Rediculous Project</a><span class="right"><a href="#" title="Archive Goal"><i class="fi-x"></i></a></h5>
            </div>
            <div class="goal-box-content">
              <p>Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.</p>
              <p class="left"><a href="#"><i class="fi-pencil"></i> <small>Update Goal</small></a></p>
              <h5 class="right"><small>Last updated: Jan 8, 2014</small></h5>
            </div>
            <div class="goal-box-footer">
              <div class="row">
                <div class="goal-box-footer-left">
                  <h6>Last Review</h6>
                  <p><a href="#">Aug 21, 2013</a></p>
                </div>
                <div class="goal-box-footer-right">
                  <h6>Next Review</h6>
                  <p><a href="#">Apr 25, 2014</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="goal-box-buffer">
          <div class="goal-box">
            <div class="goal-box-header">
              <h5><a href="#">Rediculous Project</a><span class="right"><a href="#" title="Archive Goal"><i class="fi-x"></i></a></h5>
            </div>
            <div class="goal-box-content">
              <p>Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.</p>
              <p class="left"><a href="#"><i class="fi-pencil"></i> <small>Update Goal</small></a></p>
              <h5 class="right"><small>Last updated: Jan 8, 2014</small></h5>
            </div>
            <div class="goal-box-footer">
              <div class="row">
                <div class="goal-box-footer-left">
                  <h6>Last Review</h6>
                  <p>None</p>
                </div>
                <div class="goal-box-footer-right">
                  <h6>Next Review</h6>
                  <p><a href="#"><i class="fi-plus"></i> Schedule</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="goal-box-buffer">
          <div class="goal-box">
            <div class="goal-box-header">
              <h5>New Goal</h5>
            </div>
            <div class="goal-box-content text-center">
              <h2><a href="#"><i class="fi-plus"></i> Add</a></h2>
            </div>
          </div>
        </div>

      </div>
      <div class="row text-center">
        <h5><a href="#">View Archived Goals</a></h5>
      </div>
    </div>
    <div class="review-set">
      <h3><i class="fi-comments"></i> Reviews</h3>
      <div class="review-list-box overdue-review-list">
        <div class="review-list-heading">
          <h3><i class="fi-flag"></i> Overdue</h3>
        </div>
        <div class="review-list-content clearfix">
          <table class="small-12 columns">
            <tbody>
              <tr>
                <td class="text-left">Jaime Durheim</td>
                <td class="text-right"><a href="#">75 days ago</a></td>
              </tr>
              <tr>
                <td class="text-left">Nora Durheim</td>
                <td class="text-right"><a href="#">7 days ago</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="review-list-box duesoon-review-list">
        <div class="review-list-heading">
          <h3><i class="fi-clock"></i> Due Soon</h3>
        </div>
        <div class="review-list-content clearfix">
          <table class="small-12 columns">
            <tbody>
              <tr>
                <td class="text-left">Ava Durheim</td>
                <td class="text-right"><a href="#">7 days</a></td>
              </tr>
              <tr>
                <td class="text-left">Bella Durheim</td>
                <td class="text-right"><a href="#">10 days</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="review-list-box upcoming-review-list">
        <div class="review-list-heading">
          <h3><i class="fi-calendar"></i> Upcoming</h3>
        </div>
        <div class="review-list-content clearfix">
          <table class="small-12 columns">
            <tbody>
                <tr>
                <td class="text-left">Basil Durheim</td>
                <td class="text-right"><a href="#">15 days</a></td>
              </tr>
              <tr>
                <td class="text-left">Christopher Durheim</td>
                <td class="text-right"><a href="#">35 days</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
